{% extends "profiles/__base.html" %}
{%load staticfiles%}
{% load crispy_forms_tags %}

{%block user_title%}Ibhuku | Upload Profile Picture{%endblock user_title%}

{%block dashboard_nav%}
{%endblock dashboard_nav%}
{%block user_content%}	
	<div class="col-md-4">
		{%include 'profiles/profile_nav.html'%}
	</div>
	<div class="col-md-8">
		<h3>{{profile.user.get_full_name}}</h3>
		<hr>
		<img src="{{avatar.avatar.url}}" class='img-responsive' alt="{{profile.user.username}} profile picture">
		{% crispy form form.helper%}
		<hr>	
	</div>
{%endblock user_content%}
{%block javascript%}
<script type="text/javascript" src="{% static 'js/profiles/profiles.js' %}"></script>
{%endblock javascript%}