{% extends "profiles/__base.html" %}
{%load staticfiles%}
{% load crispy_forms_tags %}

{%block user_title%}Ibhuku | Profile {{profile.user.username}}{%endblock user_title%}

{%block user_content%}
	<div class="col-md-12">
		<div class="col-md-4">
			{%include 'forms/avatar_upload_form.html'%}
		</div>
		<div class="col-md-8">
			<h3>Welcome {{profile.user.username}},</h3>
		</div>
	</div>
	<div class="col-md-12">
		<hr>
		<ul>
			<li><h4>{{profile.location}}</h4></li>
			<li><h4>{{profile.current_occupation}}</h4></li>
		</ul>
		<hr>
	</div>
	
	<div class="col-md-12">
		<ul>
			<li><p class='well well-lg'>{{profile.bio}}</p></li>
			<li> <h4><span class="label label-primary"><span class="glyphicon glyphicon-globe glyphicon-align-left" aria-hidden="true"></span> http://www.ibhuku.com/{{profile.url_name}}</span></h4></li>
		</ul>
		<hr>
	</div>
	
	<a href="{%url 'profiles:edit' profile.user_id profile.user.username %}"><button class='btn btn-default'>Settings</button></a>
{%endblock user_content%}
