{% extends "profiles/__base.html" %}
{%load staticfiles%}
{% load crispy_forms_tags %}

{%block user_title%}Ibhuku | Profile {{profile.user.username}}{%endblock user_title%}

{%block user_content%}
	<h1>Welcome {{profile.user.username}},</h1>
	<h2>This is your page.</h2>
	<a href="{%url 'profiles:edit' profile.user_id %}"><button class='btn btn-default'>Edit Profile</button></a>
	<a href="{%url 'profiles:edit' profile.user_id %}"><button class='btn btn-default'>Settings</button></a>
{%endblock user_content%}
