{% extends "profiles/__base.html" %}
{%load staticfiles%}
{% load crispy_forms_tags %}

{%block user_title%}Ibhuku | Update Profile{%endblock user_title%}

{%block dashboard_nav%}
{%endblock dashboard_nav%}
{%block user_content%}	
	<div class="col-md-4">
		<div style='margin-top: 20px;'>
			<div class="modal fade" tabindex="-1" id="avatarModal" role="dialog">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title" id="myModalLabel">Update Avatar</h4>
						</div>
						<div class="modal-body">
						<img src="{{avatar.avatar.url}}" alt="{{profile.user.username}} profile picture">
						{% crispy av_form av_form.helper%}
						</div>
						<div class="modal-footer">
	
						</div>
					</div>
				</div>
			</div>
			<a href="#" data-toggle="modal" data-target="#avatarModal">
			<img src="{{avatar.avatar.url}}" class="img-responsive img-thumbnail" alt="{{profile.user.username}} profile picture"></a>
		</div>
		<div class='list-group' style='margin-top: 10px;'>
			<a href="#" class="list-group-item active">
				<h5 class="list-group-item-heading">Settings</h5>
			</a>
			<button type='button' class='list-group-item'><a href="{%url 'profiles:dashboard' profile.user_id profile.user.username %}">Dashboard</a></button>
			<button type='button' class='list-group-item'><a href="{%url 'profiles:edit' profile.user_id profile.user.username %}">Profile</a></button>
			<button type='button' class='list-group-item'><a href="{%url 'profiles:update' profile.user_id profile.user.username %}">Account</a></button>
			<button type='button' class='list-group-item list-group-item-success'><a href="{%url 'profiles:edit' profile.user_id profile.user.username %}">Edit Profile</a></button>
		</div>
	</div>
	<div class="col-md-8">
		<h3>{{profile.user.get_full_name}}</h3>
		{% crispy form form.helper %}
	</div>
{%endblock user_content%}
{%block javascript%}
<script type="text/javascript" src="{% static 'js/profiles/profiles.js' %}"></script>
{%endblock javascript%}