{%load staticfiles%}
{% load crispy_forms_tags %}

<div style='margin-top: 20px;'>
	<div class="modal fade" tabindex="-1" id="avatarModal" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">Update Avatar</h4>
				</div>
				<div class="modal-body">
					<img src="{{avatar.avatar.url}}" class='img-responsive' alt="{{profile.user.username}} profile picture">
					{% crispy av_form av_form.helper%}
				</div>
				<div class="modal-footer">
				</div>
			</div>
		</div>
	</div>
<a href="#" data-toggle="modal" data-target="#avatarModal">
<div class="img-container">
						<img src="{{avatar.avatar.url}}" class='img-responsive image' alt="{{profile.user.username}} profile picture">
					<div class="upload_overlay">
						<div class="text">Upload Picture</div>
					</div>
				</div>
</a>
</div>